.tasks {
    @include list;

    padding: rem(40px) 0;

    display: flex;
    flex-direction: column;
    row-gap: rem(10px);

    &__main-item {
        padding-top: rem(10px);

        display: flex;
        align-items: flex-start;
        column-gap: rem(10px);

        border-top: rem(2px) solid $medium-purple;
    }

    &__item {
        width: 50%;

        display: flex;
        flex-direction: column;
        row-gap: rem(20px);

        padding: rem(20px);

        border: rem(2px) solid $medium-purple;
        border-radius: rem($border-radius-big);
    }

    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__box {
        &--text {
            max-width: 75%;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: rem(10px);

        font-size: rem($font-size-medium);
        line-height: rem($line-height-medium);
        font-weight: $font-weight-bold;

        overflow-wrap: break-word;
    }

    &__description {
        margin: 0;
        overflow-wrap: break-word;
    }

    &__date {
        font-size: rem($font-size-medium);
        line-height: rem($line-height-medium);
        font-weight: $font-weight-bold;
    }

    &__time {
        font-size: rem($font-size-medium);
        line-height: rem($line-height-medium);
        font-weight: $font-weight-bold;
    }

    &__buttons {
        display: flex;
        column-gap: rem(15px);
    }

    &__button-complete {
        align-self: center;

        display: flex;
        align-items: center;
        column-gap: rem(5px);

        &-tick {
            width: rem(23px);
            height: rem(23px);

            border: rem(1px) solid $medium-purple;
            border-radius: rem($border-radius-small);

            cursor: pointer;

            &--checked {
                background-image: url('../images/tick.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}